#root {
  margin: 0;
  padding: 0;
}

.example-page {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  overflow: auto;

  .page-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 4em;
    width: inherit;
    height: max-content;

    > div {
      margin: 1em 0;
      min-height: 350px;
      min-width: 300px;
      height: max-content;
    }
  }
}
